.node-start {
  background-image: url(startimg.svg);
  background-position: center;
  background-repeat: no-repeat;
  
}


.node-finish {
  background-image: url(finishimg.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node {
  width: 25px;
  height: 25px;
  display: inline-block;
  /* border: 1px solid black; */
  outline: 1px solid rgb(175, 216, 248);
}

.node-wall {
  outline: none;
}

.node-visited {
  background-color: rgba(0, 190, 218, 0.75);
}

.node-shortest-path {
  background-color: rgb(255, 254, 106);
  outline: none;
}